# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
dist/
build/

# Local Netlify folder
.netlify
